<div>
<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name"><b>Nombre</b></label>

    <input
      class="input"
      [class.input--invalid]="myName.valid === false"
      required
      type="text"
      #myName="ngModel"
      name="name"
      id="name"
      placeholder="Joaquin Beltran"
      [(ngModel)]="register.name"
    >
    <p *ngIf="myName.valid === false">Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email"><b>Email</b></label>

    <input
      class="input"
      [class.input--invalid]="myEmail.valid === false"
      required
      type="email"
      #myEmail="ngModel"
      name="email"
      id="email"
      placeholder="contact@joaquinmx.com"
      [(ngModel)]="register.email"
     >
    <p *ngIf="myEmail.valid === false">Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="password"><b>Password</b></label>

    <input
      class="input"
      [class.input--invalid]="myPassword.valid === false"
      required
      type="password"
      #myPassword="ngModel"
      name="password"
      id="password"
      placeholder="111111111"
      [(ngModel)]="register.password">
    <p *ngIf="myPassword.valid === false">Mensajes de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Register</button>
  <button type="button">Accion</button>
</form>
</div>

<hr>

<div>
<h1>NgClass / NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr class="line-error"
[ngClass]="{
  'valid': nameInput4.valid,
  'invalid': nameInput4.invalid
}"/>
<p class="message-error" [class.invalid]="nameInput4.valid">
  El Campo es requerido
</p>

<div class="styles">
  <div>
<input type="number" [(ngModel)]="box.width" />
<input type="number" [(ngModel)]="box.height" />
<input type="color" [(ngModel)]="box.background" />
  </div>
  <div [ngStyle]="{
    'width.px': box.width,
    'height.px': box.height,
    'background-color': box.background,
    'display': 'block'
  }">

  </div>

</div>

</div>

<hr>

<div>
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)] = "person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>
<hr>
<div>
  <div class="styles">
<input type="text"  [(ngModel)] = "widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" alt="" />
  </div>
</div>
  <hr>

</div>
<div>
  <h1>*ngFor Objs</h1>
  <div class="products--grid">
    <div *ngFor="let product of products">
      <p>{{product.name}}</p>
      <img [src]="product.image" [alt]="product.name">
      <h2>{{product.price}}</h2>
    </div>
  </div>
</div>

<hr>

<div>
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name">

<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">
    La persona es Nicolas
  </p>
  <p *ngSwitchCase="'julian'">
    La persona es Julian
  </p>
  <p *ngSwitchCase="'camilo'">
    La persona es Camilo
  </p>
  <p *ngSwitchDefault>No hace Match</p>
</div>
</div>
<!-- <p *ngIf="person.name === 'nicolas'">
  La persona es Nicolas
</p>
<p *ngIf="person.name === 'julian'">
  La persona es Julian
</p>
<p *ngIf="person.name === 'camilo'">
  La persona es Camilo
</p> -->
<hr>
<div>
<h1>*ngFor Objs</h1>
<div>
  <div *ngFor="let product of products">
    <p>{{product.name}}</p>
    <img width="250" [src]="product.image" [alt]="product.name">
    <h2>{{product.price}}</h2>
  </div>
</div>
</div>

<hr>
<div>
<h1>*ngFor</h1>
<input required type="text" [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">Agrega un nombre para empezar</li>
  <li *ngFor="let name of arrayOfNumbersAndStrings; index as i">
    {{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
</div>
<hr />

<div>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Joaquin'">Ese es mi nombre :D</p>
<p *ngIf="person.name !== 'Joaquin' && person.age === 21; else elseBlock">Ese no es mi nombre D:, pero si mi edad :D</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>
</div>

<hr />

<div>
<h1>NgModel</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Nombre {{nameInput.value}}</p>
<p>Valid: {{nameInput.valid }}</p>

<input type="number" required max="18" min="0" #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Age {{nameInput.value}}</p>
<p>Valid: {{ageInput.valid }}</p>
</div>
<hr>

<div>
<div>
<h1>Eventos</h1>
<button [disabled]="isBtnDisabled">Enviar</button>
<button (click)="toggleButton()">Toogle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age++</button>
</div>
<div class="box" (scroll)="onScroll($event)">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quae rem quas eligendi eum amet velit nisi animi omnis quisquam quidem architecto deleniti, incidunt optio cupiditate facilis ducimus dolor harum!
</div>
<input type="" [value]="person.name" (keyup)="changeName($event)"/>
<p>Nombre {{person.name}}</p>
</div>

<hr />

<div>
<h1>Propiedades</h1>
<button [disabled]="isBtnDisabled" >Enviar</button>
<input type="" [value]="person.name"/>
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt=""/>
</div>

<hr/>
<div>
<h1>Hola Mundo</h1>
<h2>{{"Hola Mundo".repeat(5)}}</h2>
<p>3 + 3 = {{3 + 3}}</p>
<h3>Hola, soy {{name}} y tengo {{age}} años</h3>
<img src="{{img}}" alt= "image"/>
</div>
